# Visual Code Workspace file
*.code-workspace

# Packages
node_modules/
package-lock.json

# .env file
.env

# test folder
commands/dev/

# eslint conf
.eslintrc.json

# misc file
.dropbox
desktop.ini
mongoexport/guilds.json

# obsolete data
mongoexport/classes.json
